aside {
    max-width: 30%;
    border-style: solid;
    padding: 0.3rem;
    margin: 0.5rem;

    &.core-left {
        float: left;
        margin-left: 0;
    }

    &.core-right {
        float: right;
        margin-right: 0;
    }
}

@media (max-width: $smallScreen) {
    aside {
        display: block;
        max-width: inherit;

        &.core-left,
        &.core-right {
            float: none;
        }
    }
}
