blockquote {
    background-color: $secondaryBackgroundColor;
    margin: $standardBlockSpacing auto;
    position: relative;
    padding: 0.5rem 2rem;
    max-width: 90%;

    &:before,
    &:after {
        color: $secondaryBackgroundColor;
        font-family: $defaultQuoteFamily;
        font-size: 2.5rem;
        position: absolute;
    }

    &:before {
        content: '“';
        top: 0rem;
        left: 0.2rem;
    }

    &:after {
        content: '”';
        line-height: 1rem;
        bottom: 0rem;
        right: 0.2rem;
    }
}


