/* code */
code {
    font-family: $defaultCodeFontFamily; 
    padding: 0 0.2rem;
}

pre > code {
    background-color: $secondaryBackgroundColor;
    margin: $standardBlockSpacing auto;
    padding: 0.5rem 2rem;
    display: block;
    max-width: 90%;
    white-space: pre-wrap;
}
