/* counters */
body[data-core-counters~="tables"] {
    counter-reset: tables;

    table {
        counter-increment: tables;

        caption:before {
            font-weight: bold;
            content: 'Table ' counter(tables) ': ';
        }
    }
}

body[data-core-counters~="figures"] {
    counter-reset: figures;

    figure {
        counter-increment: figures;

        figcaption:before {
            font-weight: bold;
            content: 'Figure ' counter(figures) ': ';
        }
    }
}

body[data-core-counters~="sections"] {
    counter-reset: sections secondaryHeadings tertiaryHeadings quarternaryHeadings quinaryHeadings senaryHeadings;

    section {
        counter-increment: sections;
        counter-reset: secondaryHeadings tertiaryHeadings quarternaryHeadings quinaryHeadings senaryHeadings;

        h1:before {
            content: counter(sections) '. ';
        }
    }

    &[date-core-section-counter-depth="2"],
    &[date-core-section-counter-depth="3"],
    &[date-core-section-counter-depth="4"],
    &[date-core-section-counter-depth="5"],
    &[date-core-section-counter-depth="6"] {
        h2 {
            counter-increment: secondaryHeadings;
            counter-reset: tertiaryHeadings quarternaryHeadings quinaryHeadings senaryHeadings;
            
            &:before {
                content: counter(sections) '.' counter(secondaryHeadings) '. ';
            }
        }
    }

    &[date-core-section-counter-depth="3"],
    &[date-core-section-counter-depth="4"],
    &[date-core-section-counter-depth="5"],
    &[date-core-section-counter-depth="6"] {
        h3 {
            counter-increment: tertiaryHeadings;
            counter-reset: quarternaryHeadings quinaryHeadings senaryHeadings;
            
            &:before {
                content: counter(sections) '.' counter(secondaryHeadings) '.' counter(tertiaryHeadings) '. ';
            }
        }
    }

    &[date-core-section-counter-depth="4"],
    &[date-core-section-counter-depth="5"],
    &[date-core-section-counter-depth="6"] {
        h4 {
            counter-increment: quarternaryHeadings;
            counter-reset: quinaryHeadings senaryHeadings;
            
            &:before {
                content: counter(sections) '.' counter(secondaryHeadings) '.' counter(tertiaryHeadings) '.' counter(quarternaryHeadings) '. ';
            }
        }
    }

    &[date-core-section-counter-depth="5"],
    &[date-core-section-counter-depth="6"] {
        h5 {
            counter-increment: quinaryHeadings;
            counter-reset: senaryHeadings;
            
            &:before {
                content: counter(sections) '.' counter(secondaryHeadings) '.' counter(tertiaryHeadings) '.' counter(quarternaryHeadings) '.' counter(quinaryHeadings) '. ';
            }
        }
    }

    &[date-core-section-counter-depth="6"] {
        h6 {
            counter-increment: senaryHeadings;
            
            &:before {
                content: counter(sections) '.' counter(secondaryHeadings) '.' counter(tertiaryHeadings) '.' counter(quarternaryHeadings) '.' counter(quinaryHeadings) '.' counter(senaryHeadings) '. ';
            }
        }
    }
}
