figure {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

    figcaption {
        caption-side: bottom;
        margin-top: 0.2rem;
    }

    img {
        max-width: 100%;
    }
}


