[data-core-keep-floats-within-heading-depth="1"],
[data-core-keep-floats-within-heading-depth="2"],
[data-core-keep-floats-within-heading-depth="3"],
[data-core-keep-floats-within-heading-depth="4"],
[data-core-keep-floats-within-heading-depth="5"],
[data-core-keep-floats-within-heading-depth="6"] {
    h1 {
        clear: both;
    }
}

[data-core-keep-floats-within-heading-depth="2"],
[data-core-keep-floats-within-heading-depth="3"],
[data-core-keep-floats-within-heading-depth="4"],
[data-core-keep-floats-within-heading-depth="5"],
[data-core-keep-floats-within-heading-depth="6"] {
    h2 {
        clear: both;
    }
}

[data-core-keep-floats-within-heading-depth="3"],
[data-core-keep-floats-within-heading-depth="4"],
[data-core-keep-floats-within-heading-depth="5"],
[data-core-keep-floats-within-heading-depth="6"] {
    h3 {
        clear: both;
    }
}

[data-core-keep-floats-within-heading-depth="4"],
[data-core-keep-floats-within-heading-depth="5"],
[data-core-keep-floats-within-heading-depth="6"] {
    h4 {
        clear: both;
    }
}

[data-core-keep-floats-within-heading-depth="5"],
[data-core-keep-floats-within-heading-depth="6"] {
    h5 {
        clear: both;
    }
}

[data-core-keep-floats-within-heading-depth="6"] {
    h6 {
        clear: both;
    }
}

