footer {
    border-top-style: solid;
    margin-top: 1rem;
    clear: both;

    p {
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 0.8rem;
    }
}


