textarea {
    height: 7em;
}

input:focus {
    outline: none;
    border-color: $primaryColor;
    border-width: 2px; 
    padding: calc(0.2rem - 1px);
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    padding: 0.2rem 0.5rem;
    margin: 0.2rem;
    border-radius: 0.4rem;
    border-style: solid;
    background-color: $primaryColor;
    color: $primaryContrastColor;
    border-color: darken($primaryColor, 20%);
    cursor: pointer;

    &:hover {
        background-color: darken($primaryColor, 10%);
    }

    &[type="reset"] {
        background-color: $cancelColor;
        border-color: darken($cancelColor, 20%);
        color: $cancelContrastColor;

        &:hover {
            background-color: darken($cancelColor, 10%);
        }
    }
}

fieldset {
    border-style: solid;
    padding: 0.5rem;
    margin-top: $standardBlockSpacing;

    legend {
        font-size: 1.2rem;
    }
}

input, select, textarea {
    border-color: $neutralColor;
    border-style: solid;
    border-radius: 0.3rem;
    padding: 0.2rem;

    &[type="checkbox"],
    &[type="radio"] {
        transform: scale(1.6);
    }
}

.core-simpleForm {
    div {
        margin-top: 0.3rem;
        display: flex;
        align-items: center;

        label {
            margin-top: 0.2rem;
            width: 100%;
            display: block;
            order: 1;
            flex: 0 1 $labelWidth;
        }

        input, select, textarea {
            flex: 3 1 auto;
            order: 2;

            &[type="checkbox"],
            &[type="radio"] {
                margin-left: $labelWidth;
                margin-right: 0.2rem;
                order: 1;
                flex: none;
                
                & ~ label {
                    width: auto;
                    padding-left: 0.5rem;
                }
            }

            &[type="color"] {
                flex: 0 0 2rem;
            }

            &[type="month"],
            &[type="week"],
            &[type="time"],
            &[type="datetime-local"],
            &[type="number"] {
                flex: 0 0 auto;
            }

            &[required] ~ label:after {
                content: ' *';
            }
        }
    }
}
