
a {
    font-family: inherit;
    font-size: inherit;
    &[href] {
        color: $linkColor;
        text-decoration: none;
    
        &:hover {
            text-decoration: underline;
        }
    }
}

a[target="_blank"]:after {
    content: '\21f1';
    display: inline-block;
    transform: scaleX(-1);
    font-size: 70%;
    vertical-align: top;
    padding: 0.1rem;
}

a.core-download:after {
    content: '\21E9';
    font-family: sans-serif;
    display: inline-block;
    transform: scaleX(1.5);
    padding-left: 0.3rem;
    padding-right: 0.5rem;
}
