
ol,
ul,
dl {
    padding: 0.2rem 2rem;
}

ul {
    list-style-type: disc;

    ul {
        list-style-type: circle;

        ul {
            list-style-type: square;
        }
    }
}

ol {
    list-style-type: decimal;

    ol {
        list-style-type: lower-alpha;
    }
}

dl {
    dt {
        font-weight: bold;
    }

    dd {
        margin-left: 1rem;
    }
}
