nav.core-navBar {
    display: flex;
    flex-flow: wrap;
    font-size: 1.2rem;
    margin-top: 0.6rem;

    a {
        color: $navMenuTextColor;
        font-family: $defaultHeadingFontFamily;
        margin: 0.3rem;
    }

    margin-left: auto;
    margin-right: auto;
    width: 90%;

    a {
        flex: 1 1 auto;
        text-align: center;

        &[data-core-active="true"] {
            font-weight: bold;

            &:before,
            &:after {
                content: '-';
            }
        }
    }
}

.core-navCol {
    display: flex;

    nav {
        flex: 0 0 auto;
        font-size: 1.2rem;
        padding: 0.2rem 1rem;

        a {
            display: block;
            color: $navMenuTextColor;
            font-family: $defaultHeadingFontFamily;
            margin: 0.3rem;
            padding-right: 1.2em;
            position: relative;

            &:after {
                content: '';
                display: inline-block;
                width: 1em;
                right: 0;
                position: absolute;
            }

            &[data-core-active="true"]:after {
                content: '\25B6';
            }

        }

        &.core-right {
            order: 3;

            a {
                padding-right: 0;
                padding-left: 1.2em;

                &:after {
                    display: none;
                }

                &:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    width: 1em;
                }

                &[data-core-active="true"]:before {
                    content: '\25C0';
                }
            }
        }
    }

    div {
        flex: 1 1 auto;
        order: 2;
    }
}

@media (max-width: $smallScreen) {
    .core-navCol {
        display: block;

        nav {
            display: flex;
            flex-flow: wrap;
            font-size: 1.2rem;

            a {
                color: $navMenuTextColor;
                font-family: $defaultHeadingFontFamily;
                margin: 0.3rem;
            }

            margin-left: auto;
            margin-right: auto;
            width: 90%;

            &.core-right a,
            a {
                flex: 1 1 auto;
                text-align: center;

                &[data-core-active="true"] {
                    font-weight: bold;

                    &:before,
                    &:after {
                        content: '-';
                        display: inline;
                        width: auto;
                        position: initial;
                    }
                }
            }
        }
    }
}
