// Colors
//$backgroundColor: #FFFFFC;
//$textColor: #555;
//$primaryColor: #06C;
//$primaryContrastColor: $backgroundColor;
//$cancelColor: #C22;
//$cancelContrastColor: $backgroundColor;
//$neutralColor: #AAA;
//$boxShadowColor: rbga(darken($primaryColor, 30%), 0.4);

//$navMenuTextColor: $primaryColor;
//$linkColor: $primaryColor;

// Fonts
//$defaultFontFamily: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
//$defaultHeadingFontFamily: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
//$defaultCodeFontFamily: "Courier New", Courier, monospace;
//$defaultQuoteFamily: Georgia, serif;
//$baseFontSize: 14pt;

// Screen Sizes
//$smallScreen: 639px;
//$mediumScreen: 1024px;
//$largeScreen: 1400px;

// Spacings
//$standardBlockSpacing: 0.7rem;
