[data-core-styles~="3D"] {
    aside,
    table,
    figure,
    fieldset,
    pre > code,
    blockquote {
        box-shadow: 0.2rem 0.2rem 0.4rem $boxShadowColor;

        aside,
        table,
        figure,
        fieldset,
        pre > code,
        blockquote {
            box-shadow: none;
        }
    }

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button {
        box-shadow: 0.1rem 0.1rem 0.1rem $boxShadowColor;
    }

    header {
        box-shadow: 0 0.2rem 0.2rem -0.2rem $boxShadowColor;
    }

    footer {
        box-shadow: 0 -0.2rem 0.2rem -0.2rem $boxShadowColor;
    }


}


