table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

    border-collapse: collapse;

    td, th {
        padding: 0.2rem 0.5rem;
        border-color: $primaryColor;
        border-style: solid;

        &:first-child {
            border-left: none;
        }

        &:last-child {
            border-right: none;
        }
    }

    th {
        font-weight: bold;
    }

    tbody {
        tr:nth-child(odd) {
            background-color: $zebraStripeBackgroundColor;
        }
    }

    caption {
        caption-side: bottom;
        margin-top: 0.2rem;
    }
}


