// Colors
$backgroundColor: #FFFFFC;
$backgroundEdgeColor: #DDD;
$textColor: #555;
$primaryColor: #06C;
$primaryContrastColor: $backgroundColor;
$cancelColor: #C22;
$cancelContrastColor: $backgroundColor;
$neutralColor: #AAA;
$navMenuTextColor: $primaryColor;
$linkColor: $primaryColor;

$boxShadowColor: darken($primaryColor, 30%);

// Fonts
$defaultFontFamily: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
$defaultHeadingFontFamily: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
$defaultCodeFontFamily: "Courier New", Courier, monospace;
$defaultQuoteFamily: Georgia, serif;
$baseFontSize: 14pt;

// Screen Sizes
$smallScreen: 639px;
$mediumScreen: 1024px;
$largeScreen: 1400px;

// Spacings
$standardBlockSpacing: 0.7rem;

@import 'overrides';

// Forms
$labelWidth: 20%;

// Shades
$secondaryBackgroundColor: rgba(darken($primaryColor, 20%), 0.2);
$secondaryBackgroundContrastColor: lighten($primaryColor, 20%);
$zebraStripeBackgroundColor: rgba(darken($primaryColor, 20%), 0.2);


* {
    border-color: $primaryColor;
    color: $textColor;
    border-style: none;
    border-width: 1px;
    font-family: $defaultFontFamily;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

html {
    font-size: $baseFontSize;
    background: $backgroundColor;
}

@media (min-width: $largeScreen) {
    html {
        background: linear-gradient(to right, $backgroundEdgeColor, $backgroundColor 5%, $backgroundColor 95%, $backgroundEdgeColor);
    }
}

body {
    font-size: 1.4rem;
    padding: 0.5rem;
    max-width: $largeScreen;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $defaultHeadingFontFamily;
    font-weight: bolder;
    padding-bottom: 0.1rem;
    margin-bottom: 0.1rem;
    padding-top: 0.2rem;
    margin-top: $standardBlockSpacing;

    span.core-subtitle {
        display: block;
        padding-left: 2rem;
        font-style: italic;
        font-weight: normal;
        font-family: inherit;
        font-size: 80%;
        color: lighten($textColor, 20%);
    }
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2.0rem
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    & + p {
        margin-top: $standardBlockSpacing;
    }
}

@media (max-width: $smallScreen) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.3rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    h6 {
        font-size: 1.1rem;
    }


}
@import 'links';
@import 'headers';
@import 'footers';
@import 'tables';
@import 'figures';
@import 'asides';
@import 'forms';
@import 'code';
@import 'blockquotes';
@import 'lists';
@import 'counters';
@import 'navigation';
@import 'tags';
@import 'floats';

// Styles
@import 'style3D';
@import 'styleCurves';
