@charset "UTF-8";
* {
  border-color: #06C;
  color: #555;
  border-style: none;
  border-width: 1px;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
  margin: 0;
  padding: 0;
  font-size: 1rem; }

html {
  font-size: 14pt;
  background: #FFFFFC; }

@media (min-width: 1400px) {
  html {
    background: linear-gradient(to right, #DDD, #FFFFFC 5%, #FFFFFC 95%, #DDD); } }
body {
  font-size: 1.4rem;
  padding: 0.5rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
  word-wrap: break-word; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-weight: bolder;
  padding-bottom: 0.1rem;
  margin-bottom: 0.1rem;
  padding-top: 0.2rem;
  margin-top: 0.7rem; }
  h1 span.core-subtitle, h2 span.core-subtitle, h3 span.core-subtitle, h4 span.core-subtitle, h5 span.core-subtitle, h6 span.core-subtitle {
    display: block;
    padding-left: 2rem;
    font-style: italic;
    font-weight: normal;
    font-family: inherit;
    font-size: 80%;
    color: #888888; }

h1 {
  font-size: 2.4rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

p + p {
  margin-top: 0.7rem; }

@media (max-width: 639px) {
  h1 {
    font-size: 1.8rem; }

  h2 {
    font-size: 1.6rem; }

  h3 {
    font-size: 1.4rem; }

  h4 {
    font-size: 1.3rem; }

  h5 {
    font-size: 1.2rem; }

  h6 {
    font-size: 1.1rem; } }
a {
  font-family: inherit;
  font-size: inherit; }
  a[href] {
    color: #06C;
    text-decoration: none; }
    a[href]:hover {
      text-decoration: underline; }

a[target="_blank"]:after {
  content: '\21f1';
  display: inline-block;
  transform: scaleX(-1);
  font-size: 70%;
  vertical-align: top;
  padding: 0.1rem; }

a.core-download:after {
  content: '\21E9';
  font-family: sans-serif;
  display: inline-block;
  transform: scaleX(1.5);
  padding-left: 0.3rem;
  padding-right: 0.5rem; }

header {
  border-bottom-style: solid; }

footer {
  border-top-style: solid;
  margin-top: 1rem;
  clear: both; }
  footer p {
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 0.8rem; }

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-collapse: collapse; }
  table td, table th {
    padding: 0.2rem 0.5rem;
    border-color: #06C;
    border-style: solid; }
    table td:first-child, table th:first-child {
      border-left: none; }
    table td:last-child, table th:last-child {
      border-right: none; }
  table th {
    font-weight: bold; }
  table tbody tr:nth-child(odd) {
    background-color: rgba(0, 51, 102, 0.2); }
  table caption {
    caption-side: bottom;
    margin-top: 0.2rem; }

figure {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  figure figcaption {
    caption-side: bottom;
    margin-top: 0.2rem; }
  figure img {
    max-width: 100%; }

aside {
  max-width: 30%;
  border-style: solid;
  padding: 0.3rem;
  margin: 0.5rem; }
  aside.core-left {
    float: left;
    margin-left: 0; }
  aside.core-right {
    float: right;
    margin-right: 0; }

@media (max-width: 639px) {
  aside {
    display: block;
    max-width: inherit; }
    aside.core-left, aside.core-right {
      float: none; } }
textarea {
  height: 7em; }

input:focus {
  outline: none;
  border-color: #06C;
  border-width: 2px;
  padding: calc(0.2rem - 1px); }

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: 0.4rem;
  border-style: solid;
  background-color: #06C;
  color: #FFFFFC;
  border-color: #003366;
  cursor: pointer; }
  button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: #004d99; }
  button[type="reset"],
  input[type="button"][type="reset"],
  input[type="submit"][type="reset"],
  input[type="reset"][type="reset"] {
    background-color: #C22;
    border-color: #751313;
    color: #FFFFFC; }
    button[type="reset"]:hover,
    input[type="button"][type="reset"]:hover,
    input[type="submit"][type="reset"]:hover,
    input[type="reset"][type="reset"]:hover {
      background-color: #a01b1b; }

fieldset {
  border-style: solid;
  padding: 0.5rem;
  margin-top: 0.7rem; }
  fieldset legend {
    font-size: 1.2rem; }

input, select, textarea {
  border-color: #AAA;
  border-style: solid;
  border-radius: 0.3rem;
  padding: 0.2rem; }
  input[type="checkbox"], input[type="radio"], select[type="checkbox"], select[type="radio"], textarea[type="checkbox"], textarea[type="radio"] {
    transform: scale(1.6); }

.core-simpleForm div {
  margin-top: 0.3rem;
  display: flex;
  align-items: center; }
  .core-simpleForm div label {
    margin-top: 0.2rem;
    width: 100%;
    display: block;
    order: 1;
    flex: 0 1 20%; }
  .core-simpleForm div input, .core-simpleForm div select, .core-simpleForm div textarea {
    flex: 3 1 auto;
    order: 2; }
    .core-simpleForm div input[type="checkbox"], .core-simpleForm div input[type="radio"], .core-simpleForm div select[type="checkbox"], .core-simpleForm div select[type="radio"], .core-simpleForm div textarea[type="checkbox"], .core-simpleForm div textarea[type="radio"] {
      margin-left: 20%;
      margin-right: 0.2rem;
      order: 1;
      flex: none; }
      .core-simpleForm div input[type="checkbox"] ~ label, .core-simpleForm div input[type="radio"] ~ label, .core-simpleForm div select[type="checkbox"] ~ label, .core-simpleForm div select[type="radio"] ~ label, .core-simpleForm div textarea[type="checkbox"] ~ label, .core-simpleForm div textarea[type="radio"] ~ label {
        width: auto;
        padding-left: 0.5rem; }
    .core-simpleForm div input[type="color"], .core-simpleForm div select[type="color"], .core-simpleForm div textarea[type="color"] {
      flex: 0 0 2rem; }
    .core-simpleForm div input[type="month"], .core-simpleForm div input[type="week"], .core-simpleForm div input[type="time"], .core-simpleForm div input[type="datetime-local"], .core-simpleForm div input[type="number"], .core-simpleForm div select[type="month"], .core-simpleForm div select[type="week"], .core-simpleForm div select[type="time"], .core-simpleForm div select[type="datetime-local"], .core-simpleForm div select[type="number"], .core-simpleForm div textarea[type="month"], .core-simpleForm div textarea[type="week"], .core-simpleForm div textarea[type="time"], .core-simpleForm div textarea[type="datetime-local"], .core-simpleForm div textarea[type="number"] {
      flex: 0 0 auto; }
    .core-simpleForm div input[required] ~ label:after, .core-simpleForm div select[required] ~ label:after, .core-simpleForm div textarea[required] ~ label:after {
      content: ' *'; }

/* code */
code {
  font-family: "Courier New", Courier, monospace;
  padding: 0 0.2rem; }

pre > code {
  background-color: rgba(0, 51, 102, 0.2);
  margin: 0.7rem auto;
  padding: 0.5rem 2rem;
  display: block;
  max-width: 90%;
  white-space: pre-wrap; }

blockquote {
  background-color: rgba(0, 51, 102, 0.2);
  margin: 0.7rem auto;
  position: relative;
  padding: 0.5rem 2rem;
  max-width: 90%; }
  blockquote:before, blockquote:after {
    color: rgba(0, 51, 102, 0.2);
    font-family: Georgia, serif;
    font-size: 2.5rem;
    position: absolute; }
  blockquote:before {
    content: '“';
    top: 0rem;
    left: 0.2rem; }
  blockquote:after {
    content: '”';
    line-height: 1rem;
    bottom: 0rem;
    right: 0.2rem; }

ol,
ul,
dl {
  padding: 0.2rem 2rem; }

ul {
  list-style-type: disc; }
  ul ul {
    list-style-type: circle; }
    ul ul ul {
      list-style-type: square; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: lower-alpha; }

dl dt {
  font-weight: bold; }
dl dd {
  margin-left: 1rem; }

/* counters */
body[data-core-counters~="tables"] {
  counter-reset: tables; }
  body[data-core-counters~="tables"] table {
    counter-increment: tables; }
    body[data-core-counters~="tables"] table caption:before {
      font-weight: bold;
      content: "Table " counter(tables) ": "; }

body[data-core-counters~="figures"] {
  counter-reset: figures; }
  body[data-core-counters~="figures"] figure {
    counter-increment: figures; }
    body[data-core-counters~="figures"] figure figcaption:before {
      font-weight: bold;
      content: "Figure " counter(figures) ": "; }

body[data-core-counters~="sections"] {
  counter-reset: sections secondaryHeadings tertiaryHeadings quarternaryHeadings quinaryHeadings senaryHeadings; }
  body[data-core-counters~="sections"] section {
    counter-increment: sections;
    counter-reset: secondaryHeadings tertiaryHeadings quarternaryHeadings quinaryHeadings senaryHeadings; }
    body[data-core-counters~="sections"] section h1:before {
      content: counter(sections) ". "; }
  body[data-core-counters~="sections"][date-core-section-counter-depth="2"] h2, body[data-core-counters~="sections"][date-core-section-counter-depth="3"] h2, body[data-core-counters~="sections"][date-core-section-counter-depth="4"] h2, body[data-core-counters~="sections"][date-core-section-counter-depth="5"] h2, body[data-core-counters~="sections"][date-core-section-counter-depth="6"] h2 {
    counter-increment: secondaryHeadings;
    counter-reset: tertiaryHeadings quarternaryHeadings quinaryHeadings senaryHeadings; }
    body[data-core-counters~="sections"][date-core-section-counter-depth="2"] h2:before, body[data-core-counters~="sections"][date-core-section-counter-depth="3"] h2:before, body[data-core-counters~="sections"][date-core-section-counter-depth="4"] h2:before, body[data-core-counters~="sections"][date-core-section-counter-depth="5"] h2:before, body[data-core-counters~="sections"][date-core-section-counter-depth="6"] h2:before {
      content: counter(sections) "." counter(secondaryHeadings) ". "; }
  body[data-core-counters~="sections"][date-core-section-counter-depth="3"] h3, body[data-core-counters~="sections"][date-core-section-counter-depth="4"] h3, body[data-core-counters~="sections"][date-core-section-counter-depth="5"] h3, body[data-core-counters~="sections"][date-core-section-counter-depth="6"] h3 {
    counter-increment: tertiaryHeadings;
    counter-reset: quarternaryHeadings quinaryHeadings senaryHeadings; }
    body[data-core-counters~="sections"][date-core-section-counter-depth="3"] h3:before, body[data-core-counters~="sections"][date-core-section-counter-depth="4"] h3:before, body[data-core-counters~="sections"][date-core-section-counter-depth="5"] h3:before, body[data-core-counters~="sections"][date-core-section-counter-depth="6"] h3:before {
      content: counter(sections) "." counter(secondaryHeadings) "." counter(tertiaryHeadings) ". "; }
  body[data-core-counters~="sections"][date-core-section-counter-depth="4"] h4, body[data-core-counters~="sections"][date-core-section-counter-depth="5"] h4, body[data-core-counters~="sections"][date-core-section-counter-depth="6"] h4 {
    counter-increment: quarternaryHeadings;
    counter-reset: quinaryHeadings senaryHeadings; }
    body[data-core-counters~="sections"][date-core-section-counter-depth="4"] h4:before, body[data-core-counters~="sections"][date-core-section-counter-depth="5"] h4:before, body[data-core-counters~="sections"][date-core-section-counter-depth="6"] h4:before {
      content: counter(sections) "." counter(secondaryHeadings) "." counter(tertiaryHeadings) "." counter(quarternaryHeadings) ". "; }
  body[data-core-counters~="sections"][date-core-section-counter-depth="5"] h5, body[data-core-counters~="sections"][date-core-section-counter-depth="6"] h5 {
    counter-increment: quinaryHeadings;
    counter-reset: senaryHeadings; }
    body[data-core-counters~="sections"][date-core-section-counter-depth="5"] h5:before, body[data-core-counters~="sections"][date-core-section-counter-depth="6"] h5:before {
      content: counter(sections) "." counter(secondaryHeadings) "." counter(tertiaryHeadings) "." counter(quarternaryHeadings) "." counter(quinaryHeadings) ". "; }
  body[data-core-counters~="sections"][date-core-section-counter-depth="6"] h6 {
    counter-increment: senaryHeadings; }
    body[data-core-counters~="sections"][date-core-section-counter-depth="6"] h6:before {
      content: counter(sections) "." counter(secondaryHeadings) "." counter(tertiaryHeadings) "." counter(quarternaryHeadings) "." counter(quinaryHeadings) "." counter(senaryHeadings) ". "; }

nav.core-navBar {
  display: flex;
  flex-flow: wrap;
  font-size: 1.2rem;
  margin-top: 0.6rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%; }
  nav.core-navBar a {
    color: #06C;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    margin: 0.3rem; }
  nav.core-navBar a {
    flex: 1 1 auto;
    text-align: center; }
    nav.core-navBar a[data-core-active="true"] {
      font-weight: bold; }
      nav.core-navBar a[data-core-active="true"]:before, nav.core-navBar a[data-core-active="true"]:after {
        content: '-'; }

.core-navCol {
  display: flex; }
  .core-navCol nav {
    flex: 0 0 auto;
    font-size: 1.2rem;
    padding: 0.2rem 1rem; }
    .core-navCol nav a {
      display: block;
      color: #06C;
      font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
      margin: 0.3rem;
      padding-right: 1.2em;
      position: relative; }
      .core-navCol nav a:after {
        content: '';
        display: inline-block;
        width: 1em;
        right: 0;
        position: absolute; }
      .core-navCol nav a[data-core-active="true"]:after {
        content: '\25B6'; }
    .core-navCol nav.core-right {
      order: 3; }
      .core-navCol nav.core-right a {
        padding-right: 0;
        padding-left: 1.2em; }
        .core-navCol nav.core-right a:after {
          display: none; }
        .core-navCol nav.core-right a:before {
          content: '';
          display: inline-block;
          position: absolute;
          left: 0;
          width: 1em; }
        .core-navCol nav.core-right a[data-core-active="true"]:before {
          content: '\25C0'; }
  .core-navCol div {
    flex: 1 1 auto;
    order: 2; }

@media (max-width: 639px) {
  .core-navCol {
    display: block; }
    .core-navCol nav {
      display: flex;
      flex-flow: wrap;
      font-size: 1.2rem;
      margin-left: auto;
      margin-right: auto;
      width: 90%; }
      .core-navCol nav a {
        color: #06C;
        font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
        margin: 0.3rem; }
      .core-navCol nav.core-right a,
      .core-navCol nav a {
        flex: 1 1 auto;
        text-align: center; }
        .core-navCol nav.core-right a[data-core-active="true"],
        .core-navCol nav a[data-core-active="true"] {
          font-weight: bold; }
          .core-navCol nav.core-right a[data-core-active="true"]:before, .core-navCol nav.core-right a[data-core-active="true"]:after,
          .core-navCol nav a[data-core-active="true"]:before,
          .core-navCol nav a[data-core-active="true"]:after {
            content: '-';
            display: inline;
            width: auto;
            position: initial; } }
.core-tag {
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  background-color: rgba(0, 51, 102, 0.2);
  color: #3399ff; }

[data-core-keep-floats-within-heading-depth="1"] h1,
[data-core-keep-floats-within-heading-depth="2"] h1,
[data-core-keep-floats-within-heading-depth="3"] h1,
[data-core-keep-floats-within-heading-depth="4"] h1,
[data-core-keep-floats-within-heading-depth="5"] h1,
[data-core-keep-floats-within-heading-depth="6"] h1 {
  clear: both; }

[data-core-keep-floats-within-heading-depth="2"] h2,
[data-core-keep-floats-within-heading-depth="3"] h2,
[data-core-keep-floats-within-heading-depth="4"] h2,
[data-core-keep-floats-within-heading-depth="5"] h2,
[data-core-keep-floats-within-heading-depth="6"] h2 {
  clear: both; }

[data-core-keep-floats-within-heading-depth="3"] h3,
[data-core-keep-floats-within-heading-depth="4"] h3,
[data-core-keep-floats-within-heading-depth="5"] h3,
[data-core-keep-floats-within-heading-depth="6"] h3 {
  clear: both; }

[data-core-keep-floats-within-heading-depth="4"] h4,
[data-core-keep-floats-within-heading-depth="5"] h4,
[data-core-keep-floats-within-heading-depth="6"] h4 {
  clear: both; }

[data-core-keep-floats-within-heading-depth="5"] h5,
[data-core-keep-floats-within-heading-depth="6"] h5 {
  clear: both; }

[data-core-keep-floats-within-heading-depth="6"] h6 {
  clear: both; }

[data-core-styles~="3D"] aside,
[data-core-styles~="3D"] table,
[data-core-styles~="3D"] figure,
[data-core-styles~="3D"] fieldset,
[data-core-styles~="3D"] pre > code,
[data-core-styles~="3D"] blockquote {
  box-shadow: 0.2rem 0.2rem 0.4rem #001a33; }
  [data-core-styles~="3D"] aside aside,
  [data-core-styles~="3D"] aside table,
  [data-core-styles~="3D"] aside figure,
  [data-core-styles~="3D"] aside fieldset,
  [data-core-styles~="3D"] aside pre > code,
  [data-core-styles~="3D"] aside blockquote,
  [data-core-styles~="3D"] table aside,
  [data-core-styles~="3D"] table table,
  [data-core-styles~="3D"] table figure,
  [data-core-styles~="3D"] table fieldset,
  [data-core-styles~="3D"] table pre > code,
  [data-core-styles~="3D"] table blockquote,
  [data-core-styles~="3D"] figure aside,
  [data-core-styles~="3D"] figure table,
  [data-core-styles~="3D"] figure figure,
  [data-core-styles~="3D"] figure fieldset,
  [data-core-styles~="3D"] figure pre > code,
  [data-core-styles~="3D"] figure blockquote,
  [data-core-styles~="3D"] fieldset aside,
  [data-core-styles~="3D"] fieldset table,
  [data-core-styles~="3D"] fieldset figure,
  [data-core-styles~="3D"] fieldset fieldset,
  [data-core-styles~="3D"] fieldset pre > code,
  [data-core-styles~="3D"] fieldset blockquote,
  [data-core-styles~="3D"] pre > code aside,
  [data-core-styles~="3D"] pre > code table,
  [data-core-styles~="3D"] pre > code figure,
  [data-core-styles~="3D"] pre > code fieldset,
  [data-core-styles~="3D"] pre > code pre > code,
  [data-core-styles~="3D"] pre > code blockquote,
  [data-core-styles~="3D"] blockquote aside,
  [data-core-styles~="3D"] blockquote table,
  [data-core-styles~="3D"] blockquote figure,
  [data-core-styles~="3D"] blockquote fieldset,
  [data-core-styles~="3D"] blockquote pre > code,
  [data-core-styles~="3D"] blockquote blockquote {
    box-shadow: none; }
[data-core-styles~="3D"] input[type="submit"],
[data-core-styles~="3D"] input[type="reset"],
[data-core-styles~="3D"] input[type="button"],
[data-core-styles~="3D"] button {
  box-shadow: 0.1rem 0.1rem 0.1rem #001a33; }
[data-core-styles~="3D"] header {
  box-shadow: 0 0.2rem 0.2rem -0.2rem #001a33; }
[data-core-styles~="3D"] footer {
  box-shadow: 0 -0.2rem 0.2rem -0.2rem #001a33; }

[data-core-styles~="curves"] aside,
[data-core-styles~="curves"] figure,
[data-core-styles~="curves"] fieldset,
[data-core-styles~="curves"] code,
[data-core-styles~="curves"] blockquote {
  border-radius: 0.5rem; }
[data-core-styles~="curves"] .core-tag {
  border-radius: 0.3rem; }
